In [1]:
print("Helow zia")

Helow zia

This code snippet is iterating over each element in the 
list and printing out a message that includes the element itself and its data type.

In [2]:
list = [1,2,3,"zia",11254.2,True]
for i in list:
    print(f"list element is: {i} and datatype is {type(i).__name__}")

list element is: 1 and datatype is int
list element is: 2 and datatype is int
list element is: 3 and datatype is int
list element is: zia and datatype is str
list element is: 11254.2 and datatype is float
list element is: True and datatype is bool

# Functions

In [3]:
# how to made a functions 
# program add two numbers 

def add_numbers(a ,b ):
    return a + b


def geometricmean(a,b):
    return (a * b) ** 0.5

In [4]:
a = int(input("Enter value of a \n:"))
b = int(input("Enter value of b \n:"))
print(geometricmean(a,b))

33.67491648096547

In [5]:
def isgreater(A,b):
    pass

Defualt Argument

In [6]:
def  greet(name):
    print(f"hellow , {name}")

In [7]:
greet("ABC")

hellow , ABC

In [8]:
def name(fn , sn):
    print(f"your name is {fn} {sn}")

In [9]:
name(sn="Mughal" , fn ="Zia ul islam ")

your name is Zia ul islam  Mughal

In [10]:
def add_numbers(*numbers):
    total = 0 
    for num in numbers:
        total += num # total = total+num  
    return total

In [11]:
print(add_numbers(1,2,5,2))

10

In [12]:
def calculate_discount(**kwargs):
    price = kwargs.get('price')
    discount = kwargs.get('discount')
    final_price = price - (price * discount / 100)
    print(f"Product : {kwargs.get('name')} , final price is {final_price:.2f}")

In [13]:
calculate_discount(name="Laptop" , price = 53000 , discount = 23)

Product : Laptop , final price is 40810.00

# list

In [14]:
list = [1,2,"kac king abdullah ", True , 25.25]
for i in list:
    print(f"list element is ; {i} and type is {type(i).__name__}")

list element is ; 1 and type is int
list element is ; 2 and type is int
list element is ; kac king abdullah  and type is str
list element is ; True and type is bool
list element is ; 25.25 and type is float

In [15]:
i = 0 
while i < len(list):
    print(list[i] , f"type of {i} is {type(i).__name__}")
    i += 1

1 type of 0 is int
2 type of 1 is int
kac king abdullah  type of 2 is int
True type of 3 is int
25.25 type of 4 is int

In [16]:
length_of_list = len(list)
print(length_of_list)

5

In [17]:
abc = [1,2,3]
print(abc)
abc.clear()
print(abc)

[1, 2, 3]
[]

In [18]:
l = [1,2,3,5,35,3,4,5,2,4,6,7,5,4,7,89,7,7,6,56,435]
even_num = [i for i in l if i % 2 == 0]
print(sorted(even_num))

[2, 2, 4, 4, 4, 6, 6, 56]

In [19]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = []

for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)

print(even_numbers)  # Output: [2, 4, 6]

[2, 4, 6]

In [20]:
lisst = []
print("Enter elements in the list. (Type 'stop' to stop)")

while True:
    element = input("Enter element: ")
    if element.lower() == "stop":
        break
    lisst.append(element)

print("List of elements:")
print(lisst)

Enter elements in the list. (Type 'stop' to stop)
List of elements:
['4', '4', '4', '', '', '', '', '', '', '', '', '', '54', '', '', '54', '54', '5454', '', '54', '54', '577', '87', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '545\\', '5', '54\\45\\4', '\\', '\\4\\4', '\\5\\4', "\\'\\", '54', '\\54', '\\54\\', '4\\54\\\\\\\\\\\\\\', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [21]:
ln = input("List of numbers separated by space: ").split() 

print(ln)

['kjdf,dfd,df,']

In [34]:
marks = [i for i in range(0,100 ,3)]
for index, mark in enumerate(marks):
    print(f"{index}  : {mark}")

0  : 0
1  : 3
2  : 6
3  : 9
4  : 12
5  : 15
6  : 18
7  : 21
8  : 24
9  : 27
10  : 30
11  : 33
12  : 36
13  : 39
14  : 42
15  : 45
16  : 48
17  : 51
18  : 54
19  : 57
20  : 60
21  : 63
22  : 66
23  : 69
24  : 72
25  : 75
26  : 78
27  : 81
28  : 84
29  : 87
30  : 90
31  : 93
32  : 96
33  : 99