# Data Types and Variables

- Primitive data types (integers, floats, strings, booleans)
- Variables and type casting

# Declaring Variables with Different Datatypes

In [1]:
# Integer variable
age = 25
print("Age:", age)

# Float variable
height = 5.9
print("Height:", height)

# String variable
name = "Alice"
print("Name:", name)

# Boolean variable
is_student = True
print("Is Student:", is_student)

Age: 25
Height: 5.9
Name: Alice
Is Student: True

# Checking Data Types Using type()

In [2]:
age = 25 
print(type(age))
print("-----------------------------------------------------")
height = 1.23
print(type(height))
print("-----------------------------------------------------")

name = "ZIA UL ISLAM MUGHAL"
print(type(name))
print("-----------------------------------------------------")

m_string = """zia 
ul 
isllam """
print(type(m_string))
print("-----------------------------------------------------")

is_student = True 
print(type(is_student))

<class 'int'>
-----------------------------------------------------
<class 'float'>
-----------------------------------------------------
<class 'str'>
-----------------------------------------------------
<class 'str'>
-----------------------------------------------------
<class 'bool'>

# Basic Type Casting (Integer to Float)

In [3]:
int_value = 10 
float_value = float(int_value)

print("original value is :           " , int_value)
print("Value after type casting is : " , float_value)

original value is :            10
Value after type casting is :  10.0

# Type Casting (Float to Integer)

In [4]:
flt_v = 50.2
int_v = int(flt_v)

print("original value is :           " , flt_v)
print("Value after type casting is : " , int_v)

original value is :            50.2
Value after type casting is :  50

#  Type Casting (Integer to String)

In [5]:
score = 100 
print("Original score is : " , score )
print("Data type is " , type(score))
str_score = str(score)
print("After typecasting : " , str_score)
print("Data type is " , type(str_score))

Original score is :  100
Data type is  <class 'int'>
After typecasting :  100
Data type is  <class 'str'>

# Type Casting (String to Integer and Float)

In [6]:
str_number = "150"
print(str_number)
print(type(str_number))
int_nbr = int(str_number)
flt_nbr = float(str_number)


print(int_nbr)
print(type(int_nbr))

print(flt_nbr)
print(type(flt_nbr))

150
<class 'str'>
150
<class 'int'>
150.0
<class 'float'>

# Using Boolean Variables in Conditions

In [7]:
is_raining = False 

if is_raining: 
    print("It's raining today!")
else : 
    print("It's not raining today.")

It's not raining today.

In [8]:
Travel = True 
if Travel:
    print("I am traveling today")
else:
    print("I am not traveling today.")

I am traveling today

#  Using Variables in Expressions

In [9]:
width = 12.3 
height = 58.3 

area = width * height 

print("Area : " , area )

Area :  717.09

#  Concatenating Strings and Variables

In [10]:
first_name = "Zia"
second_name = "ul islam"
third_name = "Mughal"
#  concatenating string with variable 

full_name = first_name + " " + second_name + " " + third_name
print("Full Name : " , full_name )

Full Name :  Zia ul islam Mughal

# Boolean Evaluation of Different Data Types

In [11]:
x = 0
y = "Hello"
z = 2.34

print(bool(x))
print(bool(y))
print(bool(z))

False
True
True

# Swapping Variable Values

In [12]:
a = 10              
b = 20 
print(a)
print(b)


print("----------------------")
temp = a 

a = b 

b = temp 

print(a)
print(b)

10
20
----------------------
20
10

# Multi-Variable Assignment

In [13]:
x=y=z = 10 

print(x)    

print(y)

print(z)

10
10
10

In [14]:
x, y, z = 1, 2.5, "Hello"
print("x:", x, "y:", y, "z:", z)

x: 1 y: 2.5 z: Hello

# Converting Different Data Types to String and Concatenation

In [15]:
name = "Zia"
age = 30 
height = 4.3 

info = name + " is " + str(age) + " years old and  " + str(height) + " feet tall."
n_info = f" {name} has {age} , and height is {height}"
print(n_info)

 Zia has 30 , and height is 4.3

# Rounding Float Values to Integer

In [16]:
value = 50.3 

value = round(value)

print(value)

50